{% extends 'layouts/base.njk' %}

{% set introSummary = content | safe %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{% set projectListHeading = projectHeading %}
{% set projectListItems = collections.projects %}

{# Posts link #}
{% if postListItems.length < collections.article.length %}
  {% set paginationNextText = allPostsText %}
  {% set paginationNextUrl = '/articles' %}
{% endif %}

{% block intro %}
  <div class="l-stack l-stack--large">
    {% include "partials/intro.njk" %}
  </div>
{% endblock %}

{% block content %}
  <div class="l-page">
    <div class="l-stack l-stack--large">
      {% include "partials/project-list-home.njk" %}
      {% include "partials/post-list-home.njk" %}
      {% include "partials/pagination.njk" %}
    </div>
  </div>
{% endblock %}
