{% extends 'layouts/base.njk' %}

{% set introSummary %}
<div class="l-stack">
  {% if description %}
    <p class="post-description">{{ description | safe }}</p>
  {% endif %}
</div>
{% endset %}

{% block intro %}
  <div class="l-stack l-stack--large">
    {% include "partials/intro.njk" %}
  </div>
{% endblock %}

{% block content %}
  <div class="l-page">
    <div class="l-stack">
      <article class="h-entry t-page" class="l-container">
        <div class="l-stack l-stack--large">
          <div class="l-container">
            <div class="l-stack l-body-content l-measure">
              {{ content | safe }}
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}