<section class="l-container" role="region" title="Site intro">
  <div class="l-jumbo">
    <h1>{{ introHeading }}</h1>
    {% if introSummary %}
      <div class="l-stack l-measure">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</section>