{% set postListHeadingLevel = 'h3' if postListHeading else 
  'h2' %}
{% if postListItems.length %}
  <section class="l-container l-measure">
    <div class="l-stack">
      {% if postListHeading %}
        <h2 class="h4">{{ postListHeading }}</h2>
      {% endif %}
      <div class="l-post-list">

        {% for item in postListItems %}
          <article class="h-entry t-page" class="l-container">
            <div class="l-stack l-measure" >
              <{{postListHeadingLevel}} class="h3">
                {{ item.data.title }}
              </{{postListHeadingLevel}}>
              <p>
                <time class="post-stack-date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
                {{ item.templateContent | safe }}
            </div>
          </article>
        {% endfor %}
        
      </div>
    </div>
  </section>
{% endif %}