{% set postListHeadingLevel = 'h3' if postListHeading else 'h2' %}

{% if postListItems.length %}
  <section class="l-container">
    <div class="l-stack">
      {% if postListHeading %}
        <h2 class="h3">{{ postListHeading }}</h2>
      {% endif %}
      <ul class="l-post-stack" reversed>
        {% for item in postListItems %}
          <a href="{{ item.url }}">
            <li class="post-stack-item offset">
              <{{postListHeadingLevel}} class="h4">{{ item.data.title }}
              </{{postListHeadingLevel}}>
              <p>
                <time class="post-stack-date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
              {% if item.data.description %}
                <p>{{item.data.description}}</p>
              {% endif %}

          {# {% if item.data.tags %}
            <ul class="l-home-tags">
              {% for item in item.data.tags %}
                <li>
                  <a class="home-tag" href="/tags/{{ item }}">
                    {{ item }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %} #}

            </li>
          </a>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}