{% set pageTitle = title + ' - ' + site.name %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

<title>{{ pageTitle }}</title>

<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ site.url + page.url }}"/>

{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}"/>
{% endif %}

{% if metaDescription %}
  <meta name="description" content="{{ metaDescription }}"/>
  <meta name="twitter:description" content="{{ metaDescription }}"/>
  <meta property="og:description" content="{{ metaDescription }}"/>
{% endif %}

{% if coverimg %}
  <meta property="og:image" content="{{ site.url + coverimg }}"/>
  <meta name="twitter:image" content="{{ coverimg }}"/>
  <meta property="og:image:alt" content="Page image for {{ site.name }}"/>
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}"/>
{% endif %}


<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta name="theme-color" content="#000000"/>

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="httpster.io">
<meta name="apple-mobile-web-app-title" content="httpster.io">
<meta name="msapplication-navbutton-color" content="#000000">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">