<footer>
  <div class="theme-secondary theme-bg theme-color">
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-site-footer-split">
          <div class="l-stack">
            <div class="l-site-name l-site-name--footer">
              {% include "partials/icons/logo.svg" %}
              <div class="l-site-title site-title">{{ site.name }}</div>
            </div>
          </div>
          <div class="l-footer-nav">
            {% set navLocation = 'footer' %}
            {% set navigationItems = navigation.footer %}
            {% include "partials/nav.njk" %}
          </div>
        </div>
        <p class="powered-by">Made by {{site.authorName}} with 11ty and VS Code</p>
 {#   <section id="installBanner" class="pwa-banner">
        <button id="installBtn" class="pwa-button">Install PWA app</button>
    </section> #}

      </div>
    </div>
  </div>
</footer> 
