<footer role="contentinfo">
  <div class="theme-secondary theme-bg theme-color">
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-site-footer-split">
          <div class="l-stack">
            <div class="l-site-name l-site-name--footer">
              {% include "partials/icons/logo.svg" %}
              <div class="l-site-title site-title"><a href="{{site.url}}">{{ site.name }}</a></div>
            </div>
            {% if site.shortDesc %}
              <p>{{ site.shortDesc }}</p>
            {% endif %}
          </div>
          <div class="l-footer-nav">
            {% set navLocation = 'footer' %}
            {% include "partials/nav.njk" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>