.l-page-section {
  padding: 1px;
  max-width: $BASE_UNIT * 12;
  margin: 0 auto 0 auto;
}
.l-page {
  padding: 2rem 0;
  max-width: $BASE_UNIT * 12;
  margin: 0 auto 0 auto;
}

.l-page-body {
  padding: 0;
  max-width: $BASE_UNIT * 12;
  margin: 0 auto 0 auto;
}