.skip-content:not(:focus) {
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 10px;
}

.skip-content:focus {
  top: 0;
  border: 0;
  clip: unset;
  height: auto;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}

.invert-link {
  text-decoration: none;
}

.invert-link:hover,
.invert-link:focus {
  text-decoration: underline;
}

.theme-bg {
  background: var(--THEME_BACKGROUND, white);
}

.theme-color {
  color: var(--THEME_COLOR, black);
}

.theme-hightlight {
  color: var(--THEME_HIGHTLIGHT, yellow);
}

.pwa-button {
  text-align: center;
  font-size: $SCALE--1;
  font-weight: 700;
  margin-top: $SCALE--1;
  padding: $SCALE--2;
  justify-content: center;
  border: 0.2rem solid white;
}

@media (prefers-reduced-motion: no-preference) {
  .pwa-button {
    transition: 0.25s;
    background-color: black;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $COLOR_ACCENT;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .offset {
    box-shadow:
      0.5rem 0.5rem 0 0 $COLOR_BLACK;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $COLOR_ACCENT;
    }
  }
}

.pwa-banner {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: $SCALE--1;
  display: none;
  font-weight: 700;
  justify-content: center;
  margin-top: $SCALE--1;
  width: 100%;
}