@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/inter-subset.woff2") format("woff2");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight:100-900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/JetBrainsMono-Variable.ttf");
}

$BASE_UNIT: 100px;

$FONT_SYSTEM: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;

$FONT_NORMAL: 'Inter Var';

$FONT_HEADINGS: 'JetBrains Mono', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

$FONT_MONO: 'JetBrains Mono', Consolas,
Monaco,
"Andale Mono",
"Ubuntu Mono",
monospace;

$RATIO: 1.4;

$SCALE--2: 1rem / $RATIO / $RATIO;
$SCALE--1: 1rem / $RATIO;
$SCALE-0: 1rem;
$SCALE-1: 1rem * $RATIO;
$SCALE-2: 1rem * $RATIO * $RATIO;
$SCALE-3: 1rem * $RATIO * $RATIO * $RATIO;
$SCALE-4: 1rem * $RATIO * $RATIO * $RATIO * $RATIO;
$SCALE-5: 1rem * $RATIO * $RATIO * $RATIO * $RATIO * $RATIO;

$COLOR_LIGHTER: #eaeaea;
$COLOR_LIGHT: #ccc; // Do not use for text color
$COLOR_MID: #767676; // Min contrast on white to pass WCAG2 AA
$COLOR_DARK: #333;
$COLOR_BLACK: #0f0f0f;
$COLOR_WHITE: #fcfcfc;

$COLOR_ACCENT: #20fdb3;